<!--===== FOOTER =====-->
<div class="footer-dark feet" style="background-color: #1f4f91;">
      <footer>
            <div class="container">
                <div class="row">
                  <div class="col-md-6 item text">
                      <h3>TRADERZ TECH</h3>
                      <h6>Keep Minting. Keep Blessing.</h6>
                      <p>This app provides Indian stock market (NSE only delivery recommendation according to our personal analytics and studies.</p>
                  </div>


                    <div class="col-sm-6 col-md-3 item">
                        <h3>Quick Links</h3>
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/Watchlist">Watchlist</a></li>
                            <li><a href="/Statistics">Statistics</a></li>
                            <li><a href="/Guidelines">Guidelines</a></li>
                            <li><a href="/Others">Others</a></li>
                        </ul>
                    </div>

                    <div class="col-sm-6 col-md-3 item">
                          <h6 class="text-uppercase font-weight-bold mb-4">Newsletter</h6>
                          <p class="text mb-4">Subscribe for updates</p>
                          <div class="p-1 rounded border">
                            <div class="input-group">
                              
                              <form action="/AddEmail" class="" method="POST">
                                <div class="input-group-append">
                                  <input type="email" name="email" placeholder="Enter your email address" aria-describedby="button-addon1" class="form-control border-0 shadow-0">
                                  
                                    <button id="button-addon1" type="submit" class="btn btn-link"><i class="fa fa-paper-plane" style="color:white"></i></button>
                                  </div>

                              </form>

                            </div>
                          </div>
                    </div>


                  </div>
                  <br><br>
                  <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                  <br>
                  <p class="text-center">© 2021 Traderz Tech All rights reserved | Designed With by <a href="#" style="color:white;">Mehul Lokhande</a></p>
                </div>
            </footer>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

        <!--=====End of FOOTER =====-->


      <!--===== MAIN JS =====-->
      <script src="assets/js/main.js"></script>
  </body>
</html>
