<%- include('includes/head.ejs') %>

            <style>
                  .yyy{ height:55vh; margin:0; }
            </style>
    </head>



    <body >
      
      <%- include('includes/nav.ejs') %>

        <!--===== Contents == =-->
        <h1 class="yyy" style="padding:20vh;text-align: center;">Page Not found.</h1>
        <!--===== End of Contents =====-->

      <%- include('includes/foot.ejs') %>


        