<%- include('includes/head.ejs') %>

        <link rel="stylesheet" href="/css/guidelines-card.css">
    </head>



    <body >
      
      <%- include('includes/nav.ejs') %>

        <!--===== Contents == =-->
        
        
        <div id="cards_landscape_wrap-2">
          <div class="container">
              <div class="row">
                  <div class="container fluid">
                          <div class="card-flyer">
                              <div class="text-box">
                                  <div class="text-container">
                                      <h6>Traderz Tech</h6>
                                      <p>This app provides Indian stock market (NSE only delivery
                                      recommendation according to our personal analytics and
                                      studies.</p>
                                  </div>
                              </div>
                          </div>
                  </div>
                  <div class="container fluid">
                          <div class="card-flyer">
                              <div class="text-box">
                                  <div class="text-container">
                                      <h6 style="color:green;">Guidelines (Important)</h6>
                                      <p><ol>
                                          <li> Call is active as soon as it trades above buy levels.</li>
                                          <li> Stoploss for every call is on weekly closing basis. If price trades below stoploss levels on friday close then exit it on
                                          monday open</li>
                                          <li> Book partial profits once Target1 (T1) is reached & hold
                                          remaining for Target2(T2) as per individual risk appetite.</li>
                                          <li> Position sizing & risk management must be considered
                                          before taking any call.</li>
                                      </ol></p>
                                  </div>
                              </div>
                          </div>
                  </div>
                  <div class="container fluid">
                          <div class="card-flyer">
                              <div class="text-box">
                                  <div class="text-container">
                                      <h6 >Features</h6>
                                     <p><ul>
                                         <li> Free positional tips for educational purpose only</li>
                                         <li> Proper entry & exit</li>
                                     </ul></p>
                                  </div>
                              </div>
                          </div>
                  </div>
                  <div class="container fluid">
                          <div class="card-flyer">
                              <div class="text-box">
                                  <div class="text-container">
                                      <h6>Disclaimer</h6>
                                     <p><ul>
                                         <li>Stock market investments & trading are risk oriented and
                                         by accessing Traderz Tech app or any of its associate
                                         sites & groups, you agree to assume complete and
                                         full responsibility for the outcomes of all trading and
                                         investment decisions that you make, including but not
                                         limited to loss of capital.</li>
                                         <li>Our stock tips are for information and educational
                                         purposes only and under no circumstances should be used
                                         for actual trading.</li>
                                         <li>Before investment, consult your financial
                                         advisors. We are not SEBI registered.</li>
                                         <li>We do capture crash report, if in case something went
                                         wrong in our app. We do this to improve our app.</li>
                                         <li>We do display ads in our app in non EEA region.</li>
                                         <li>We do use Google Analytics and Crashlytics as well for the
                                         purpose of improving our app.</li>
                                     </ul></p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>


        <!--===== End of Contents =====-->

      <%- include('includes/foot.ejs') %>


        