<%- include('includes/head.ejs') %>

            <style>
                  .yyy
                  { 
                    padding-top: 21vh;
                    padding-bottom: 24vh;
                    width:auto;
                    margin: auto;
                    text-align: center;
                  }
            </style>
    </head>



    <body >
      
      <%- include('includes/nav.ejs') %>

        <!--===== Contents == =-->

        <div class="yyy">
            <h1 >Traderz Tech</h1>
            <br>
            <h3 style="color:#1f4f91">Keep Minting. Keep Blessing.</h3>
        </div>
        <!--===== End of Contents =====-->

      <%- include('includes/foot.ejs') %>


        